.summary {
    text-align: center;
    max-width: 65rem;
    width: 100%;
    margin: 7rem auto auto;
    position: relative;
    background-color: #383838;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}


.summary h2 h1{
    font-size: 4rem;
    margin-top: 0;
}
.summary h1 {
    color: #8a2b06;
    font-weight: bold;
    font-size: 260%;
}